{% extends "csb/components/layout.html" %}
{% block page_title %}
  {% let election = "election"|election_value %}
  {{ (&election)|election_title }}
{% endblock %}
{% block header_action %}
  <a href="{{ crate::csb::index::CsbElectionDefinitionDownloadPath }}"
     class="button secondary icon-download">{{ "csb.index.download_election_definition"|trans }}</a>
{% endblock %}
{% block content %}
  {% let election = "election"|election_value %}
  <div class="cards cards-csb-phases">
    <div class="card csb-phase-card csb-phase-completed">
      <div class="card-header">
        <div class="csb-phase-badge csb-phase-badge-check"></div>
        <div>
          <h4>{{ "csb.index.phase"|trans("1") }}</h4>
        </div>
        <div class="csb-phase-close-date">
          <span>{{ "csb.index.closes_on"|trans }}</span>
          <span>{{ election.nomination_day_date().format("%d-%m-%y") }}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="csb-phase-text">
          <h2 class="card-title">{{ "csb.index.phase_1.title"|trans }}</h2>
          <ul class="card-instruction">
            <li>{{ "csb.index.feature.view_candidate_lists"|trans }}</li>
            <li>{{ "csb.index.feature.report_errors"|trans }}</li>
          </ul>
        </div>
        <div class="csb-phase-illustration csb-phase-illustration-1"></div>
      </div>
    </div>
    <a class="card csb-phase-card csb-phase-active"
       href="{{ crate::csb::examination::CsbExaminationOverviewPath }}">
      <div class="card-header">
        <div class="csb-phase-badge csb-phase-badge-unlocked"></div>
        <div>
          <h4>{{ "csb.index.phase"|trans("2") }}</h4>
        </div>
        <div class="csb-phase-close-date">
          <span>{{ "csb.index.closes_on"|trans }}</span>
          <span>{{ election.document_review_date().format("%d-%m-%y") }}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="csb-phase-text">
          <h2 class="card-title">{{ "csb.index.phase_2.title"|trans }}</h2>
          <ul class="card-instruction">
            <li>{{ "csb.index.feature.view_candidate_lists"|trans }}</li>
            <li>{{ "csb.index.feature.add_omissions"|trans }}</li>
            <li>{{ "csb.index.feature.create_i1_letters"|trans }}</li>
          </ul>
        </div>
        <div class="csb-phase-illustration csb-phase-illustration-2"></div>
      </div>
      <p class="card-footer">{{ "csb.index.go_to_examination"|trans }}</p>
    </a>
    <div class="card csb-phase-card csb-phase-locked">
      <div class="card-header">
        <div class="csb-phase-badge csb-phase-badge-lock"></div>
        <div>
          <h4>{{ "csb.index.phase"|trans("3") }}</h4>
        </div>
        <div class="csb-phase-close-date">
          <span>{{ "csb.index.closes_on"|trans }}</span>
          <span>{{ election.public_session().datetime.format("%d-%m-%y") }}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="csb-phase-text">
          <h2 class="card-title">{{ "csb.index.phase_3.title"|trans }}</h2>
          <ul class="card-instruction">
            <li>{{ "csb.index.feature.view_candidate_lists"|trans }}</li>
            <li>{{ "csb.index.feature.report_errors"|trans }}</li>
            <li>{{ "csb.index.feature.create_i4"|trans }}</li>
          </ul>
        </div>
        <div class="csb-phase-illustration csb-phase-illustration-3"></div>
      </div>
    </div>
    <div class="card csb-phase-card csb-phase-locked">
      <div class="card-header">
        <div class="csb-phase-badge csb-phase-badge-lock"></div>
        <div>
          <h4>{{ "csb.index.phase"|trans("4") }}</h4>
        </div>
        <div class="csb-phase-close-date">
          <span>{{ "csb.index.closes_on"|trans }}</span>
          <span>{{ election.election_date().format("%d-%m-%y") }}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="csb-phase-text">
          <h2 class="card-title">{{ "csb.index.phase_4.title"|trans }}</h2>
          <ul class="card-instruction">
            <li>{{ "csb.index.feature.view_candidate_lists"|trans }}</li>
            <li>{{ "csb.index.feature.report_errors"|trans }}</li>
            <li>{{ "csb.index.feature.create_i4"|trans }}</li>
          </ul>
        </div>
        <div class="csb-phase-illustration csb-phase-illustration-4"></div>
      </div>
    </div>
    <div class="card csb-phase-card csb-phase-locked">
      <div class="card-header">
        <div class="csb-phase-badge csb-phase-badge-lock"></div>
        <div>
          <h4>{{ "csb.index.phase"|trans("5") }}</h4>
        </div>
        <div class="csb-phase-close-date">
          <span>{{ "csb.index.closes_on"|trans }}</span>
          <span>{{ election.election_date().format("%d-%m-%y") }}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="csb-phase-text">
          <h2 class="card-title">{{ "csb.index.phase_5.title"|trans }}</h2>
          <ul class="card-instruction">
            <li>{{ "csb.index.feature.view_candidate_lists"|trans }}</li>
            <li>{{ "csb.index.feature.report_errors"|trans }}</li>
            <li>{{ "csb.index.feature.create_i4"|trans }}</li>
          </ul>
        </div>
        <div class="csb-phase-illustration csb-phase-illustration-5"></div>
      </div>
    </div>
  </div>
{% endblock %}
